.container {
    max-width: 1190px;
    margin: 0 auto;
  }

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 products per row */
    gap: 30px; /* Spacing between cards */
    justify-content: center;
    padding: 20px;
  }

  
  
  .custom-h2 {
   
    
    text-align: center;
    margin-bottom: 20px;
    font-size: 3.5rem;
    font-weight: 600;
    width: 450px;
    padding-top: 10%;
    display: inline-block;
    border-bottom: 5px solid #ff8c00;
    padding-bottom: 5px;

  }

  .products{
    margin: 50px 0;
  }
  .grey-background{
    height: 540px;
    background-color: #DDDDDD;
    top: 35%;
  }

  @media (max-width: 990px) {
    .products-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .custom-media{
      
   
    
        text-align: center;
        margin-bottom: 20px;
        font-size: 40px;
        font-weight: 600;
        width: 450px;
        padding-top: 10%;
        display: inline-block;
        border-bottom: 5px solid #ff8c00;
        padding-bottom: 5px;
    
      
    }

   
    

    .heading-container {
      text-align: center;
     
    }

  }
  