.footer-container {
    background-color: #3E3A37;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pushes content */
    overflow: visible;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
    height: 100%;
}

.custom-hw {
    font-size: 34px;
    font-weight: 700;
    line-height: 32px;
}

.custom-style{
    font-weight: 600;
    font-size: 24px;
    line-height: 50px;
}

.footer-rightSide {
    width: 500px;
    
}

.custom-design{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    
}

.custom-p{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}
.list-unstyled{
    padding: 0; margin: 0;
}

@media (max-width: 990px) {
    .footer-container {
        background-color: #3E3A37;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Pushes content */
        overflow: visible;
    }
    .footer-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .container {
        max-width: 1190px;
        margin: 0 auto;
        height: 100%;
    }
    
    .custom-hw {
        font-size: 34px;
        font-weight: 700;
        line-height: 32px;
    }

    .brand-name{
       display: flex;
       justify-content: center;
       align-items: center;
    }
    
    .custom-style{
        font-weight: 600;
        font-size: 24px;
        line-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 45px;
    }

    .custom-img{
        display: flex;
        justify-content: center;
        align-items: center;
        width:80%;
        height: 80%;
    }
    
    .footer-rightSide {
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .customize-hw{
        height: 212px;
    }
    
    .custom-design{
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        
    }
    
    .custom-p{
        font-weight: 400;
        font-size: 17px;
        line-height: 27px;
    }
    .list-unstyled{
        padding: 0; margin: 0;
    }
  }
  